{% extends 'base.html' %}

<!-- Page title-->
{% block title%} Retornos {% endblock %}

<!-- returns block-->
{% block content%}
<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-auto me-auto">
            <h2 style="color:green">
                Retornos
            </h2>
        </div>
                
        <div class="col-auto">
            <button type="button" class="btn btn-outline-primary">Adicionar retorno</button>
        </div>
    </div>

</div>

<br>
<br>

<div class="container">
    {% block interactions %} {% endblock %}
</div>


{% endblock %}
