{% extends 'page_template.html' %}

<!-- Page title-->
{% block title%} Novo {% endblock %}

{% block page_content %}
<div class="container">
    <h4 style="color:green">Novo Retorno</h4><br>

    <p style="color: lightcoral"> (* Campos obrigatórios)</p>

    {% if existent_tag %}
    <h5 style="color: lightcoral">
        A tag "{{ tag }}" já existe; tags devem ser únicas, por gentileza, escolha outro nome para a tag.
    </h5><br>
    {% endif %}

    <form action="http://localhost:8000/returns/create" method="post">

        <div class="row">

            <div class="col-3">
                <label for="tag" class="col-form-label">
                    <h6 style="color:green">
                        *Tag
                    </h6>
                </label>

                <input type="text" class="{{ formInputClass }}" name="tag" id="tag"
                    placeholder="Identificador do retorno" value="{{ tag }}">
            </div>

        </div> <br>

        <div class="row">

            <div class="col-6">
                <label for="content" class="col-form-label">
                    <h6 style="color:green">
                        *Conteúdo
                    </h6>
                </label>

                <textarea class="form-control" name="content" id="content"
                    placeholder="Conteúdo retornado, como um link">{{ content }}</textarea>
            </div>

        </div>
        <br><br>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary">Criar Novo</button>
        </div>

    </form>
</div>
{% endblock %}