<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header"> 
                <h4 class="modal-title" id="exampleModalLabel">
                    Excluir retorno
                </h4>
                
                <a type="button" href="/returns" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
        
            <div class="modal-body">
                <h5 style="color:green">
                    Esta operação é irreversível. Deseja confirmar?
                </h5>
            </div>
            
            <div class="modal-footer">

                <a id="confirm-delete" type="button" class="btn btn-outline-primary">
                    confirmar
                </a>
            </div>
        
        </div>
    </div>
</div>
