<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Excluir <i id="tag"></i>
                </h4>
                <a type="button" href="/dialogs" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <h5>
                    Esta operação é irreversível. Deseja realmente apagar este diálogo?
                </h5>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <a id="confirm-delete" type="button" class="btn btn-outline-primary">
                    confirmar
                </a>
            </div>
        </div>
    </div>
</div>
